:root {
    --bg-color-primary: gray;
}
.spinner{
    width: 100px;
    height: 100px;
    position: relative;
    

}
.sector {
    width: 100%;
    height: 100%;
    border: 20px solid transparent;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    animation: rotate 4s linear infinite ;
    
}
.sector1 {
    border-bottom: 20px solid red;

}
.sector2 {
    border-left: 20px solid yellow;
}
.sector3 {
    border-top: 20px solid blue;

}




@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);

    }
}


